h1 {color: aqua;

}

h2 {color:rebeccapurple;
}

p { color: rgba(250, 2, 8, 0.31);
}

body {background: beige;
}


h1 {color: aqua;

}

h2 {color:rebeccapurple;
}

p { color: rgba(250, 2, 8, 0.31);
}

body {background: beige;
}